@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Integration Home</p>

<a href="https://todoist.com/oauth/authorize?client_id=283608a9cc824fb2a61c49fbbe7e5e24&redirect_uri=https://localhost:8888/Home/Privacy&scope=data:read,data:read_write,data:delete&state=e039cafdd25448e8ae7a0e4b424d1f16" class="btn btn-success" style="margin-left:50%">
    Connect With todoist account
</a>