@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="justify-content-center">
            <form asp-action="ExternalLogin" asp-controller="Account">
                <h4 class="text-center margin-top">Login With Google Account</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="text" hidden="hidden" name="returnUrl" value="/Home/Index" class="currenctURL1" id="currentURL1" />
                <input type="submit" asp-controller="Home" asp-action="IntegrationHome" value="Login With Google" class="btn btn-success" style="margin-left:40%" />
                
            </form>
        </div>
    </div>
</div>